# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# LaTeX auxiliary build files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
.aux/

# GNU Radio temporary files
*.py.orig
*.grc.orig

# IDEs and OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
